<% layout('layout') -%>
<% block('nav').append('<li class="nav-item active"><a class="nav-link" href="/">Home</a></li><li class="nav-item"><a class="nav-link" href="/login">Anmelden</a></li><li class="nav-item"><a class="nav-link" href="/signup">Registrieren</a></li>') %>
<style type="text/css">
    .btn-outline-primary:hover {

    background-color: #a6bbce;

}


</style>
<div class="jumbotron text-center" style="background-color: initial;">
    <a href="/login" class="btn btn-outline-primary btn-lg" style="margin:10px;border-color: #576283;color: #576283"><span class="fa fa-user"></span> Anmelden</a>
    <a href="/signup" class="btn btn-outline-primary btn-lg" style="margin:10px;border-color: #576283;color: #576283"><span class="fa fa-user"></span> Registrieren</a>
</div>
<div class="card" style="color:black;width: 100%;">
    <img class="card-img-top img-fluid" src="/images/it_microsoft.png">
    <div class="card-block">
        <h4 class="card-title">About</h4>
        <p class="card-text">
            
            <p>Die Sicherheit von persönlichen Daten wird immer wichtiger. Passwörter gelten schon lange als unsicher. Biometrische Daten bieten sich als sicherer Zugangsschutz an. Und genau darum geht es in dieser Code Competition: Entwickle Deinen eigenen Zugriffsschutz mit Hilfe einer Gesichtserkennung!<br>
                Das klingt sehr umfangreich und kompliziert - ist es aber nicht.<br>
                Du kannst für die Realisierung auf <a href="https://www.microsoft.com/cognitive-services/en-us/face-api">bestehende APIs </a> zurückgreifen. Eine saubere Implementierung ermöglich einen sicheren Login mittels Gesichtserkennung.</p>
            </p>
            <a href="#" class="card-link">Mehr</a>
        </div>
        <div class="card-block">
            <h4 class="card-title">Implementation</h4>
            <p class="card-text">
                
                <p>Todo
                </p>
                <a href="#" class="card-link">Mehr</a>
            </div>
            <div class="card-block">
                <h4 class="card-title">Disclaimer</h4>
                <p class="card-text">
                    
                    <p>Das Anmeldeverfahren über die Gesichtserkennung stellt keine sichere Authentifizierung dar!<br>
                    </p>
                    </p>
                    <a href="#" class="card-link">Mehr</a>
                </div>
            </div>
            <div class="text-center">
                <p><small>by <a href="">James Tophoven</a>.</small></p>
            </div>